<!DOCTYPE html>
<html>
  <head>
    <title>Registered Users</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Registered Users</h1>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Country</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.name %></td>
              <td><%= user.country %></td>
              <td><%= user.gender %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
